
production/build/reports/coverage/PhantomJS 1.9.2 (Mac OS X)/coverage.txt

production/build/reports/TEST-UnitTests.xml

production/build/reports/TEST-Testcoveragechecker.xml

production/build/reports/TEST-Leaderboardfunctionality.xml

production/build/reports/TEST-Leaderboardfunctionality.xml

production/build/reports/TEST-Urlshorteningfunctionality.xml

production/build/reports/TEST-Urlshorteningfunctionality.xml

production/build

production/app/npm-debug.log
