/**************************/
/** ---- Typography ---- **/
/**************************/

body, input, textarea {
    font-family: 'Droid Sans', sans-serif;
    font-weight: 300;
    color: #555;
    line-height: 1.75;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.lobster {
	font-family: 'Lobster', serif;
}

/**************************/
/** ------ Global ------ **/
/**************************/
html, body {
	height: 100%;
}

body {
	background-color: #eaeaea;
}

table thead {
	font-size: 1.14285714285714285714em; /* 16px */
	font-weight: bold;
}

.container.content {
	max-width: 500px;
	padding-top: 10%;
	padding-bottom: 4em; /* 60px */
	margin-bottom: 76px;
}

/******************************/
/** ------ End global ------ **/
/******************************/

/***************************************/
/** ------ Bootstrap overrides ------ **/
/***************************************/

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', sans-serif;
    font-weight: 300;
    color: #333;
}

h1 {
	font-size: 2.857em; /* 40px */
}

h3 {
	color: #95a5a6;
	font-weight: 400;
}

h4 {
	color: #95a5a6;
	font-weight: 400;
	font-size: 1.429em; /* 20px */
}

/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    border-top-color: #ccc;
    border-bottom: 1px solid #fff;
}

/* Forms */

input {
	border-radius: 0px !important;
}

.form-group {
	margin-bottom: 5px;
}

/* Tables */

.table-responsive {
	width: 100%;
	margin-bottom: 15px;
	overflow-x: auto;
	overflow-y: hidden;
}
.table > tbody > tr > td {
	border-top: 1px solid #d1d1d1;
}

/*******************************************/
/** ------ End bootstrap overrides ------ **/
/*******************************************/

/****************************/
/** ------ Specific ------ **/
/****************************/

.input-shorten {
	width: 100%;
}

.visible-xs .input-shorten {
	margin-top: 5px;
}

.has-error label {
	margin-bottom: 0px;
}

.error-label {
	display: none;
}

hr {
	display: none;
}

.row.results {
	margin-top: 10px;
	display: none;
}

.footer {
	font-family: 'Droid Serif', serif;
	background-color: black;
	height: 4.286em; /* 60px */
	line-height: 4.286em; /* 60px */
	text-align: center;
	color: #fff;
	position: fixed;
	bottom: 0px;
	width: 100%;
	
	border-top: 3px solid #fff;
	border-top-color: rgba(255,255,255,0.0);
	
	-webkit-box-shadow: 0px -3px 0px rgba(255,255,255,0.3);
	   -moz-box-shadow: 0px -3px 0px rgba(255,255,255,0.3);
	    -ms-box-shadow: 0px -3px 0px rgba(255,255,255,0.3);
	        box-shadow: 0px -3px 0px rgba(255,255,255,0.3);
}

.footer .stats .url-count {
	font-size: 2.143em; /* 30px */
}

.footer .stats .stats-label {
	font-size: 1.143em; /* 16px */
	font-weight: 100;
}

/********************************/
/** ------ End specific ------ **/
/********************************/

/************************/
/** ------ Header ------ **/
/************************/

#headerwrap {
	text-align: center;
}

#headerwrap h1 {
	font-family: "Lobster", serif;
	font-size: 4em; /* 56px */
	font-weight: 300;
	letter-spacing: 1px;
	margin-top: 1.5em; /* 28px */
	margin-bottom: .25em; /* 14px */
	
	text-shadow: 0px 2px 1px #fff;
}

#headerwrap h2 {
	font-size: 1.75em;
	margin-top:	0;

	text-shadow: 0px 1px 0px #fff;
}

form.shorten-url .col-sm-3 {
	padding-left: 0;
}

/*******************************/
/** ------ End hedader ------ **/
/*******************************/

/******************************/
/** ------ Animations ------ **/
/******************************/


/**********************************/
/** ------ End animations ------ **/
/**********************************/